h1,
h2 {
    font-weight: bold;
}

a.btn:hover,
.nav-link:hover {
    text-decoration: underline;
}

footer {
    margin: auto;
    border-top: 1px solid rgb(238, 238, 238);
}

p,
footer ul {
    margin-top: 1rem !important;
}

footer a,
.pdp_Mounir {
    color: #333;
    text-decoration: none;
}

.col-md-6 {
    max-width: 50%;
}

.justify-content-sm-center a.btn {
    width: 40%;
}

html {
    scroll-behavior: smooth;
}

.nav-item {
    margin: 0 0.5rem;
}

/* Taille Mounir Boumaza Accueil*/

@media (max-width: 767px) {

    /* Styles pour téléphone */
    div.containerMounir h1 {
        font-size: 1.8rem;
    }

    a.btn {
        font-size: 1rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Styles pour tablette */
    div.containerMounir h1 {
        font-size: 2rem;
    }

    a.btn {
        font-size: 1rem;
    }
}

@media (min-width: 992px) {

    /* Styles pour PC */
    div.containerMounir h1 {
        font-size: 2.2rem;
    }

    a.btn {
        font-size: 1.3rem;
    }
}

.row {
    margin: 0;
}


/* DARK MODE */

body {
    background-color: rgb(250, 252, 255);
    color: #080942;
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.item-project {
    background-color: white;
    color: #212529;
}

.item-project.dark-mode {
    background-color: #616161;
    color: #fff;
}

#projects {
    background-color: #cbd6ff;
    min-height: 100vh;
}

#projects.dark-mode {
    background-color: #414141;
}

.BG a {
    color: #080942;
}

.BG.dark-mode a {
    color: #fff;
}

.BG {
    background-color: rgba(250, 252, 255, 0.7);
}

.BG.dark-mode {
    background-color: rgba(51, 51, 51, 0.6);
}

.navbar-light .navbar-nav .nav-link {
    color: #080942;
}

.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

#darkModeButton {
    margin: 0 1rem;
    padding: 0.2rem 0.4rem;
}

.navbar {
    transition: background-color 0.3s ease-in-out;
}

/* NAV BAR FIX */

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

/* DEFILEMENT UPDATE HOME */

#home,
.copy-home {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/background-home-desktop_blur50_anim.png");
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
    animation: moveBackground 70s linear infinite;
    /* Durée */
}

@keyframes moveBackground {
    0% {
        background-position: left;
        /* Position de départ à droite */
    }

    100% {
        background-position: right;
        /* Position finale à gauche */
    }
}

#home.dark-mode,
.copy-home.dark-mode {
    background-image: url("../images/background-home-desktop_dark_blur50_anim.png");
}

/* Taille BG HOME*/

@media (max-width: 767px) {

    /* Styles pour téléphone */
    #home,
    .copy-home {
        background-image: url("../images/background-home-phone_blur50.png");
        background-position: bottom;
        animation-play-state: paused;
    }

    #home.dark-mode,
    .copy-home.dark-mode {
        background-image: url("../images/background-home-phone_dark_blur50.png");
        background-position: bottom;
        animation-play-state: paused;
    }
}

#about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container {
    position: relative;
    display: inline-block;
}

.infos,
.img-container {
    margin: 1rem;
}

.container-about {
    margin-top: 3rem;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.img-container:hover .img-overlay {
    opacity: 1;
}

.img-container:hover .img-default {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.lead {
    font-weight: bold;
}

.btn-projets,
.btn-CV {
    background-color: #5879C6;
    border: 1px solid #C5DAF7;
    color: white;
    font-weight: bold;
}

.btn-linkedin,
.btn-meet {
    background-color: #43559F;
    border: 1px solid #C5DAF7;
    color: white;
    font-weight: bold;
}

/* SKILLS-BOX */

.skill-box i {
    display: block;
    font-size: 3rem;
    margin-bottom: 1rem;
    transition: transform 0.2s ease-in-out;
}

.skills {
    margin-top: 5rem;
}

@media (max-width: 767px) {
    .skill-box i {
        font-size: 2rem;
    }
}

@media (min-width: 768px) {
    .item-bleu:hover i,
    .item-violet:hover i,
    .item-orange:hover i,
    .item-vert:hover i,
    .item-jaune:hover i {
        transform: scale(1.3);
    }
}

.item-bleu:hover {
    color: rgb(50, 163, 255);
}

.item-violet:hover {
    color: rgb(150, 22, 255);
}

.item-orange:hover {
    color: rgb(255, 177, 33);
}

.item-vert:hover {
    color: rgb(113, 255, 30);
}

.item-jaune:hover {
    color: rgb(255, 251, 39);
}

/* ABOUT SUR TEL */

.box3,
.infos-box3 {
    display: none;
}

.box2 {
    font-size: 0.9rem;
}

@media (max-width: 991px) {
    .main-infos {
        flex-wrap: wrap;
    }

    .box1 {
        display: none;
    }

    .box2 {
        width: 100%;
        font-size: 0.7rem;
    }

    .box3 {
        display: block;
        float: left;
        width: 30%;
    }

    .infos-box3 {
        display: block;
    }

    .box-btn button {
        font-size: 0.9rem;
        padding: 0.4rem;
    }
}

.infos-box3 dt,
.infos-box3 dd {
    display: inline;
    margin: 0;
}

.box2 h2 {
    margin-bottom: 1.5rem;
}

.box-btn a {
    margin: 1.3rem;
}

.main-infos {
    margin-top: 1.8rem;
}

/* Réalisations en ligne PROJETS */

.container.py-5 {
    padding-top: 4em !important;
}

.aGit {
    font-size: 3rem;
    color: #080942;
    margin: 0 1rem;
}

.aGit.dark-mode {
    color: white;
}

.item-project {
    margin: 1rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    position: relative;
}

.image-box {
    height: 40vh;
    background-image: url('../images/BG_PC_TEST.jpg');
    background-size: cover;
    border-radius: 20px;
}

.image-box.poke_data {
    background-image: url('../images/poke_data_home.jpeg');
    background-size: contain;
}

.image-box.currency_converter {
    background-image: url('../images/converter_screen_01.png');
    background-size: contain;
}

.image-box.justCookIt {
    background-image: url('../images/JustCookIt.png');
    background-size: contain;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.3rem;
    overflow: hidden;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    color: #080942;
    transition: height 0.3s;
    overflow-y: hidden;

    min-width: 100%;
    font-size: 0.8em;
    padding: 1rem;
}

.item-project:hover .overlay {
    height: 100%;
    overflow-y: auto;
}

.tags li {
    font-size: 0.9em;
    font-weight: bold;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    background-color: #5879C6;
    border-radius: 5px;
    color: white;
}

.tags {
    list-style: none;
    display: flex;
    gap: 5px;
    padding: 0;
    justify-content: center;
    margin: 0.5rem;
}

.desc {
    margin: 0 1rem;
}

.aMore {
    font-size: 0.8rem !important;
    background-color: #43559F;
    border-color: #C5DAF7;
    color: white;
}

/* CONTACT */

#contact {
    padding: 2rem;
}

.outer-container {
    max-width: 85%;
    margin: auto;
    text-align: center;
}

.contact-subtitle {
    margin-bottom: 2rem;
}

.space-between .item {
    display: inline-block;
    margin: 0.5rem 0;
    font-weight: bold;
}

.space-between.row {
    display: flex;
    justify-content: space-between;
}

.contact-box {
    width: 100%;
    text-align: center;
    border-radius: 20px;
    /* min-width: 30vh; */
}

.contact-box i {
    font-size: 3rem;
    padding: 0.5rem 0;
}

.phone {
    background-color: #43559F;
    background-image: url("../images/contact-me-phone.png");
    background-size: cover;
    background-position: right center;
    border: 1px solid #C5DAF7;
    color: #ffffff;
}

.email {
    background-color: #5879C6;
    border: 1px solid #C5DAF7;
    color: #dcebff;
}

.email a {
    color: #dcebff !important;
}

.email a:hover {
    color: #ffffff !important;
}

.meet {
    background-color: #5879C6;
    background-image: url("../images/contact-me-map.png");
    background-size: cover;
    background-position: right center;
    border: 1px solid #C5DAF7;
    color: #ffffff;
}

.item.contact-box {
    flex: 1;
    max-width: 30%;
}

.meet .text {
    margin-top: 1rem;
}

@media (min-width: 1105px) {
    .contact-box .text {
        font-size: 0.9rem;
    }
}

@media (min-width: 992px) and (max-width: 1104px) {
    .contact-box .text {
        font-size: 0.8rem;
    }
}

@media (max-width: 991px) {
    .contact-box .text {
        font-size: 1.3rem;
    }

    .item.contact-box {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (max-width: 480px) {
    .email .text {
        color: red;
        display: none;
    }
}

.contact-box .fas {
    line-height: unset;
}

.contact-box .text {
    margin-bottom: 0.8em;
}