// src/assets/styles/Projects.scss
.projects {
  min-height: 100vh;

  &.dark-mode {
    color: #fff;
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;

    h2 {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      margin-bottom: 2rem;
    }

    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      padding: 0 1rem;

      .project-card {
        background-color: white;
        padding: 1rem;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        &.dark-mode {
          background-color: #616161;
          color: #fff;
        }

        h3 {
          font-size: 1.5rem;
          margin-bottom: 0.5rem;
        }

        .tech {
          display: flex;
          gap: 0.5rem;
          margin-bottom: 1rem;

          span {
            padding: 0.25rem 0.75rem;
            background-color: #5879c6;
            color: white;
            border-radius: 5px;
            font-size: 0.9rem;
          }
        }

        p {
          margin-bottom: 1rem;
        }

        ul {
          list-style: disc;
          padding-left: 1.5rem;
          margin-bottom: 1rem;

          li {
            margin-bottom: 0.5rem;
          }
        }

        .btn {
          display: inline-block;
          padding: 0.5rem 1rem;
          text-decoration: none;
          color: #080942;
          background-color: #43559f;
          border-radius: 5px;

          &:hover {
            text-decoration: underline;
          }

          &.dark-mode {
            color: #fff;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .container {
      padding: 0 0.5rem;
    }

    .project-card {
      padding: 0.75rem;
    }
  }
}